.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5rem;
}

.App-link {
  color: #61dafb;
  border: 0;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
}
